<p id="notice"><%= notice %></p>

<div style='float: left'>
  <%= image_tag @image.file.url(:size_300_4x3) %> <br />
  <%= image_tag @image.file.url(:size_300_16x9) %> <br />
</div>

<div style='float: left'>
  <h3>Transformações</h3>
  <ul>
  <% @image.file.versions.keys.each do |version| %>
    <li><%= link_to @image.file.url(version), @image.file.url(version), target: 'blank' %></li>
  <% end %>
  </ul>
</div>

<br clear='all'/>
<%= link_to 'Back', images_path %>
